@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color:  rgb(109, 12, 109);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section { 
    position: absolute;
    background-color: white;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.808);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

main > section > div#imagem {
    background-image: url("../imagens/tela-login-m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 200px;
}